/* #region Search */
.interior-div {
  width: 99%;
  margin: 10px auto;
  overflow: hidden;
}


.info-wrapper {
  width: 100% !important;
  min-height: 100px !;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 5px;
}

.search-result,
.info-block {
  margin-bottom: 10px !important;
  padding: 0 !important;
}

.search-result {
  display: block;
  padding-bottom: 5px !important;
  border-bottom: 1px solid #bdbdbd;
}

.search-result>button {
  float: right !important;
}

.selected-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.selected-list>button:not(.tips-p) {
  list-style: none;
  width: max-content;
  text-align: left;
  color: #807f7f;
  margin: 5px 3px;
  padding: 3px 5px;
  border: 1px solid #807f7f;
  font-size: 14px;
  opacity: 0.8;
  border-radius: 0 !important;
  width: min-content;
  min-width: calc((100% - 60px) / 10);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: lowercase !important;
}

.tips-p {
  width: 100%;
  display: block;
  border: none;
  padding: 3px;
  margin: 15px 0 5px 0;
  font-size: 11px;
  letter-spacing: 1px;
}

.selected-list>button:not(.tips-p):hover {
  cursor: pointer;
  color: #cc0000;
  border-color: #cc0000;
  opacity: 1;
}

.history-dropdown-list {
  width: 95% !important;
  margin: auto !important;
  border: unset !important;
  display: block !important;
  cursor: pointer;
}

.info-block .back-button {
  margin-right: -14px !important;
  border: 1px solid rgb(118, 131, 143);
}

.reset-button {
  margin-left: 10px !important;
}

.result-div>button {
  margin-left: 5px !important;
}

.actions-wrapper {
  padding: 0 3px;
  height: max-content;
  justify-content: space-between;
}

.actions-wrapper span.MuiFormControlLabel-label {
  color: #4b4b4b !important;
  font-size: 12px !important;
}

.actions-wrapper span.MuiCheckbox-root,
.actions-wrapper span.MuiCheckbox-root:active {
  background-color: transparent !important;
}

.link-files {
  float: left !important;
  width: calc(100% / 4) !important;
  padding: 0 !important;
}

.link-files>.links-wrapper {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 0.1px solid rgba(232, 232, 232, 0.7);
  width: 100%;
  color: #4b4b4b !important;
}

.links-wrapper:hover,
.links-wrapper:hover svg {
  color: #000 !important;
}

.switch-btn,
.help-btn {
  float: right;
}

.switch-btn>.MuiSwitch-root {
  height: 38px;
}

.switch-btn .MuiSwitch-thumb {
  height: 18px;
  width: 18px;
}

.help-btn label {
  margin-right: 0 !important;
  margin-left: 5px !important;
}

.help-btn span:last-child {
  font-size: 11px !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.help-btn span:first-child>svg {
  width: 16px !important;
}

.situated-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.right-section .situated-btn {
  position: unset;
}

.typography-email-span {
  display: block;
  width: max-content;
  background-color: #014e9b;
  color: #fff;
  margin: 5px 0;
  letter-spacing: 0.5px;
  font-size: 15px;
  padding: 3px 5px;
}

.typography-span {
  padding: 3px 8px;
  background-color: #faebd7;
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;
}

.list-link .typography-email-span {
  background-color: transparent !important;
  padding: 0 !important;
  color: #000 !important;
  font-family: inherit;
  font-size: 11px;
  margin: 0 !important;
}

/* #endregion */

/* #region Modal */
.modal-wrapper {
  overflow: hidden;
}

.modal-wrapper>.MuiDialog-container>div {
  width: 98% !important;
  max-width: 800px !important;
  margin: auto !important;
}

.modal-wrapper .typography-span {
  display: block !important;
  margin: 15px 0 !important;
  width: max-content !important;
}

.modal_content {
  width: 100% !important;
  margin: 3px auto 0 auto !important;
  font-size: 12px !important;
  padding: 3px 10px 0 10px !important;
  border-radius: 5px !important;
}

.MuiPaper-root:not(.alert):not(.MuiPaper-elevation) {
  padding: 20px 15px !important;
}

.modal_content>div {
  color: rgba(0, 0, 0, 0.9) !important;
}

.buttons-wrapper {
  padding: 0 24px 15px 14px !important;
}

pre {
  margin-bottom: 0 !important;
  font-size: 14px !important;
  white-space: pre-line !important;
}


.th:first {
  text-align: center !important;
}

.hidden-content {
  display: none;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

/* #endregion */

/* #region List */
.list-link:hover {
  cursor: pointer !important;
  background-color: #f0f0f0 !important;
}

.collapse-wrapper {
  width: 100%;
  padding: 10px;
  border: 1px solid #bdbdbd;
  margin: 10px 0;
  position: relative;
  min-height: 250px;
  max-height: 1000px;
  transition: all 0.9s ease-in-out;
}

.curtain-block {
  position: absolute;
  display: block;
  z-index: 3000;
  left: 0;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

/* #endregion */

/* #region Buttons */
.form-buttons {
  margin: 10px 0;
  padding: 10px 0;
  text-align: right;
}

.form-buttons.position-sticky {
  position: sticky;
  bottom: -10px;
  left: 0;
  z-index: 1000;
}

.position-sticky>button:not(button:first-of-type):not(.bg-unset),
.position-sticky>span>button,
.position-sticky .Mui-disabled {
  background-color: #FFFFFF !important;
}

.position-sticky .Mui-disabled {
  opacity: 1 !important;
  color: #0000006f !important;
}

.form-buttons>button {
  min-width: max-content;
  height: 40px;
  ;
}

.form-buttons>.d-row button {
  margin-left: 10px;
  height: 40px !important;
  font-size: 14px !important
}

button.confirm-question {
  color: #cc0000 !important;
  margin: 0 5px 0 0 !important;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
  font-size: 16px !important;
  background: unset !important;
  cursor: auto !important;
}

.form-buttons .submit-btn {
  min-width: 100px;
}

.submit-btn-hidden {
  display: none !important;
  z-index: -1 !important;
  visibility: hidden !important;
}

/* #endregion */

/* #region Loading */
.block-centered {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.loading {
  margin-bottom: 20px;
}

/* #endregion */

/* #region Response */
.response-box {
  color: #000000 !important;
  height: max-content;
  font-family: Calibri !important;
  margin: 10px auto !important;
  padding: 15px 20px !important;
}

.response-box>div>* {
  margin: 0;
  font-weight: 600;
}

.response-box>div:last-of-type {
  display: flex;
  justify-content: space-arround;
}

.response-box .MuiAlert-message {
  width: -webkit-fill-available !important;
  width: -moz-available !important;
}

.response-message {
  width: auto;
  margin: 0 10px !important;
  font-size: 16px;
  letter-spacing: 1px;
  text-align: left !important;
}

.response-message.combined {
  margin-left: 50px !important;
}

.response-box .error-message {
  margin: 0 auto;
  font-size: 16px;
  font-style: italic;
  color: #FFFFFF;
  width: auto !important;
  display: block;
  padding: 12px;
  max-width: 100%;
  margin-top: 15px;
  border-radius: 3px;
  background-color: rgba(204, 0, 00, 0.2);
}

.form-wrapper div[role="presentation"] {
  box-shadow: 0 0 1px 1px #dfd7d7;
  background-color: #FFFFFF !important;
}

.form-wrapper div[role="presentation"]>div>ul {
  overflow-y: auto;
  padding: 10px 5px 20px 10px !important;
  max-height: 170px !important;
}

.login-container .response-box {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5000;
}

.login-container .response-box>* {
  border-radius: 0 !important;
}

.login-container .response-box {
  margin-bottom: 0 !important;
}


/* #endregion */


/* #region Media/Print */
@media all {
  /* .page-break	{ display: none; } */
}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }

  .no-print {
    display: none !important;
    visibility: hidden !important;
  }

  .print-page {
    overflow: visible !important;
    height: max-content !important;
    display: block;
    page-break-before: always;
  }
}

/* #endregion */