/* #region Search */
.selected-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.selected-list>button {
  margin: 5px 3px;
  width: calc((100% / 6) - 6px);
  height: 40px;
  justify-content: space-between !important;
  border-color: var(--color-gray);
}

.dropdown-label {
  margin: 15px 0 10px 0;
  font-size: 16px;
  letter-spacing: 1px;
}

.history-dropdown-list {
  width: 95% !important;
  margin: auto !important;
  border: unset !important;
  display: block !important;
  cursor: pointer;
}


button.reset-button {
  margin-left: 10px !important;
  margin-right: 0 !important;
}

.actions-wrapper {
  padding: 0 3px;
  height: max-content;
}

.action-wrappers label,
.actions-wrapper span:last-of-type {
  color: #4b4b4b !important;
  font-size: 16px !important;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.link-files {
  float: left !important;
  width: calc(100% / 4) !important;
  padding: 0 !important;
}

.link-files>.links-wrapper {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  border: 0.1px solid rgba(232, 232, 232, 0.7);
  width: 100%;
  color: #4b4b4b !important;
}

.links-wrapper:hover,
.links-wrapper:hover svg {
  color: #000 !important;
}

.help-btn label {
  margin-right: 0 !important;
  margin-left: 5px !important;
}

.help-btn span:last-child {
  font-size: 11px !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.help-btn span:first-child>svg {
  width: 16px !important;
}

.situated-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.secondary-span {
  padding: 3px 8px;
  background-color: #faebd7;
  margin-left: 10px;
  font-size: 12px;
  cursor: pointer;
}

.secondary-span.view {
  margin-left: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}



/* #endregion */

/*  #region Overview/View */
section {
  clear: both;
}

section.view,
section.search {
  border-radius: 5px;
  margin: 20px auto;
}

section.view {
  width: 60% !important;
  padding: 35px;
  box-shadow: var(--box-shadow);
}

div.view {
  padding: 10px 40px;
  margin-top: -40px !important;
}

section.view h3,
div.view h3 {
  margin-bottom: 5px !important;
}

section.search {
  max-width: 450px;
  height: 100%;
  justify-self: flex-start !important;
  align-self: flex-start !important;
  margin-left: 0 !important;
}

/* #endregion */

/* #region Modal */
.modal-wrapper {
  overflow: hidden;
}

.modal-wrapper>.MuiDialog-container>div {
  width: 98% !important;
  max-width: 800px !important;
  margin: auto !important;
}


.modal_content {
  width: 100% !important;
  margin: 3px auto 0 auto !important;
  font-size: 12px !important;
  padding: 3px 10px 0 10px !important;
  border-radius: 5px !important;
}

.MuiPaper-root:not(.alert):not(.MuiPaper-elevation) {
  padding: 20px 15px !important;
}

.modal_content>div {
  color: rgba(0, 0, 0, 0.9) !important;
}

.buttons-wrapper {
  padding: 0 24px 15px 14px !important;
}

pre {
  margin-bottom: 0 !important;
  font-size: 14px !important;
  white-space: pre-line !important;
}


.th:first {
  text-align: center !important;
}

.hidden-content {
  display: none;
  height: 0;
  overflow: hidden;
  z-index: -1;
}

/* #endregion */

/* #region List */
.curtain-block {
  position: absolute;
  display: block;
  z-index: 3000;
  left: 0;
  top: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

/* #endregion */

/* #region Buttons */
.form-buttons {
  margin: 10px 0;
  padding: 10px 0;
  text-align: right;
}

.form-buttons.position-sticky {
  position: sticky;
  bottom: -10px;
  left: 0;
  z-index: 1000;
}

.position-sticky>button:not(button:first-of-type):not(.bg-unset),
.position-sticky>span>button,
.position-sticky .Mui-disabled {
  background-color: #FFFFFF !important;
}

.position-sticky .Mui-disabled {
  opacity: 1 !important;
  color: #0000006f !important;
}

.form-buttons>button {
  min-width: max-content;
  height: 40px;
  ;
}

.form-buttons>.d-row button {
  margin-left: 10px;
  height: 40px !important;
  font-size: 14px !important
}

.confirm-question {
  color: #cc0000 !important;
  margin: 0 5px 0 0 !important;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
  font-size: 16px !important;
  background: unset !important;
  cursor: auto !important;
}

.form-buttons .submit-btn {
  min-width: 100px;
}

.submit-btn-hidden {
  display: none !important;
  z-index: -1 !important;
  visibility: hidden !important;
}

/* #endregion */

/* #region Tab menu */
.menu-div {
  margin: 20px 0 10px 0;
  padding: 0 18px;
  height: 80px;
  border: 1px solid var(--color-gray);
}

.label-wrapper {
  text-align: left;
}

.label-wrapper>p {
  font-size: 24px;
  margin: 0 !important;
}

.label-wrapper>p>span {
  font-size: 14px;
  color: var(--color-dark-gray);
  text-transform: none;
  margin-top: 5px;
  letter-spacing: 1px;
}

.menu-div .link-group {
  text-transform: uppercase;
  margin-right: 20px;
}

.link-group:first-of-type {
  margin-left: 5px;
}

.menu-div .link-group.active {
  font-weight: 600;
  transform: scale(1.2);
  color: var(--color-primary);
}

.menu-div .link-group:hover {
  color: var(--color-active);
}

.menu-div div>.search-bar {
  margin-right: 20px !important;
  width: 400px !important;
}
.menu-div div>.search-bar,
.menu-div div>.search-bar * {
  font-weight: 500 !important;
}

.nav-back {
  margin-left: 20px !important;
}

/* #endregion */

/* #region Loading */
.block-centered {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
}

.loading {
  margin-bottom: 20px;
}

.loading-message {
  font-family: var(--fonr-primary);
  text-transform: uppercase;
  color: var(--color-dark-gray);
}

/* #endregion */

/* #region Media/Print */
@media all {}

@media print {
  .page-break {
    display: block;
    page-break-before: always;
  }

  .no-print {
    display: none !important;
    visibility: hidden !important;
  }

  .print-page {
    overflow: visible !important;
    height: max-content !important;
    display: block;
    page-break-before: always;
  }
}

/* #endregion */