body {
  margin: 0;
  padding: 0;
  width: -webkit-fill-available !important;
  width: -moz-available !important;
  min-width: 320px;
  min-height: 100vh;
}

body.bg {
  background-image: url(./../images/vinkel.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

body,
div,
p,
span,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  font-family: Calibri !important;
}

:root {
  /* font-synthesis: none; */
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  display: none;
}

div#root {
  min-height: 100vh;
  margin: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.d-row,
.d-column,
.d-column-jb .container {
  justify-content: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex !important;
}

.d-column {
  flex-direction: column;
}

.d-row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap !important;
  /* gap: 5px !important; */
}

.wrap-50>div {
  max-width: 50%;
  display: inline-flex;
}

.flex03 {
  /* flex: 0 0 calc(100% / 3) !important; */
  flex: 1 1 calc(100% / 3) !important;
}

.flex04 {
  /* flex: 0 0 calc(100% / 4) !important; */
  flex: 1 1 calc(100% / 4) !important;
}

.jc-start {
  justify-content: flex-start !important;
}

.jc-end {
  justify-content: flex-end !important;
}

.ai-start {
  align-items: flex-start !important;
}

.ai-end {
  align-items: flex-end !important;
}

.jc-between {
  justify-content: space-between !important;
}

.jc-around {
  justify-content: space-around !important;
}

main {
  color: #FFFFFF;
}

.container {
  width: 96%;
  max-width: 1400px !important;
  overflow-x: hidden;
  margin: 0 auto;
  height: max-content !important;
  min-height: calc(100vh - 220px);
  position: relative;
}

.mh {
  min-height: calc(100vh - 220px);
}

.none {
  display: none !important;
  visibility: hidden !important;
  z-index: -1 !important;
}

.background {
  position: fixed;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.background,
.curtain,
.curtain-gray,
.curtain-response,
.curtain-transparent {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
}

.curtain,
.curtain-gray,
.curtain-response,
.curtain-transparent {
  position: absolute;
  z-index: 2900;
}

.curtain {
  background: rgba(255, 255, 255, 0.582);
}

.curtain-gray {
  background: rgba(216, 216, 216, 0.25);
}

.curtain-response {
  background: rgba(255, 255, 255, 0.35);
}

.curtain-transparent {
  background: transparent !important;
}

.disabled input {
  background-color: #f5f5f5e4;
}

.disabled input:hover {
  cursor: no-drop !important;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(90, 90, 90, 0.2);
}

::-webkit-scrollbar-track {
  background-color: rgba(228, 226, 226, 0.137);
}

.modal-wrapper {
  width: 100%;
  height: 100%;
}

.row-wrapper {
  width: max-content;
}

.row-wrapper>* {
  margin-left: 5px;
  padding: 0 !important;
}

.modal-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ffffffcf;
  z-index: 3000;
}

.w100 {
  width: 100% !important;
}

.wh100 {
  width: 100% !important;
  height: 100% !important;
}

.w-100 {
  width: -webkit-fill-available !important;
  width: -moz-available !important
}

.w-mc {
  width: max-content !important;
}

.h-100 {
  height: -webkit-fill-available !important;
  height: -moz-available !important;
  overflow-y: auto;
}

.wh-100 {
  width: -webkit-fill-available !important;
  width: -moz-available !important;
  height: -webkit-fill-available !important;
  height: -moz-available !important;
  height: fill-available !important;
  overflow-y: auto;
}

.p-rel {
  position: relative !important;
}

.no-margin {
  margin: 0 !important;
}

.scale-back {
  opacity: 0.5;
  transition: all 0.5S ease-out;
  -webkit-transition: all 0.5S ease-out;
  -moz-transition: all 0.5S ease-out;
  -ms-transition: all 0.5S ease-out;
  -o-transition: all 0.5S ease-out;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.bg-inherit {
  background: inherit !important;
}

.disabled {
  pointer-events: none !important;
  background-color: transparent !important;
}

.disabled-inp input {
  cursor: pointer;
  pointer-events: none !important;
  background-color: transparent !important;
}


/* #region Tooltip */

.tooltip-info,
.tooltip-white,
.tooltip-green,
.tooltip-red {
  padding: 10px 12px !important;
  font-size: 14px !important;
  text-align: center !important;
  text-transform: uppercase !important;
  font-family: Calibri !important;
  cursor: alias !important;
  z-index: 5000 !important;
  color: #FFFFFF !important;
  letter-spacing: 1px !important;
}

.tooltip-info {
  background-color: #1976D2 !important;
}

.tooltip-red.margin,
.tooltip-green.margin,
.tooltip-default.margin,
.tooltip-info.margin,
.tooltip-white.margin {
  margin-top: 30px !important;
}

.tooltip-white,
.tooltip-green {
  background-color: #FFFFFF !important;
  padding: 15px 20px !important;
  max-width: 200px !important;
}

.tooltip-white {
  border: 1px solid #a8a8a8 !important;
  color: #202020 !important;
}

.tooltip-green {
  color: #000000 !important;
  margin-bottom: 25px !important;
  border: 2px dashed #11581f !important;
}

.tooltip-red {
  background-color: #cc0000 !important;
  font-size: 12px !important;
}

.tooltip-multiline {
  font-size: 12px !important;
  padding: 10px 20px !important;
  line-height: 20px !important;
  text-transform: uppercase !important;
}

.tooltip-arrow-red {
  color: #cc0000 !important;
}

.tooltip-arrow-info {
  color: #1976D2 !important;
}

.tooltip-arrow-green {
  color: #009e3d !important;
  font-size: 20px !important;
  left: 5px !important;
}

.tooltip-arrow-white {
  color: #FFFFFF !important;
}

.tooltip-span {
  display: block;
  width: max-content;
  margin-left: 10px;
  font-size: 9px;
  color: #079481
}

/* #endregion */

/* #region Animation */

.delay {
  animation-iteration-count: 0 !important;
}

.blink-color,
.warning-color {
  background: transparent;
  animation-iteration-count: 1;
  animation-duration: 3s;
}

.blink-color {
  animation-name: greenColor;
}

.warning-color {
  animation-name: warningColor;
}


/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */

@keyframes greenColor {
  0% {
    background-color: #32db67a8
  }

  100% {
    background: transparent
  }
}

@keyframes warningColor {
  0% {
    background-color: #eb0a1552 !important
  }

  100% {
    background: transparent
  }
}

.fade-in-slow {
  animation-name: opacity-slow;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  /* animation-delay: 3s; */
}

@keyframes opacity-slow {
  0% {
    opacity: 0
  }

  10% {
    opacity: 0.1
  }

  20% {
    opacity: 0.2
  }

  30% {
    opacity: 0.3
  }

  40% {
    opacity: 0.4
  }

  50% {
    opacity: 0.5
  }

  60% {
    opacity: 0.6
  }

  70% {
    opacity: 0.7
  }

  80% {
    opacity: 0.8
  }

  90% {
    opacity: 0.9
  }

  100% {
    opacity: 1
  }
}

.fade-in {
  animation-name: opacity;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  /* animation-delay: 3s; */
}

@keyframes opacity {
  0% {
    opacity: 0.5
  }

  20% {
    opacity: 0.6
  }

  40% {
    opacity: 0.7
  }

  60% {
    opacity: 0.8
  }

  80% {
    opacity: 0.9
  }

  100% {
    opacity: 1
  }
}

.fade-out {
  animation-name: scale;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
}

@keyframes scale {
  100% {
    opacity: 1;
    transform: scale(1);
  }

  80% {
    opacity: 0.9;
    transform: scale(0.9);
  }

  60% {
    opacity: 0.8;
    transform: scale(0.85);
  }

  40% {
    opacity: 0.7;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }

  20% {
    opacity: 0.6;
    -webkit-transform: scale(0.75);
    -moz-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);
  }

  0% {
    opacity: 0.5;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.7);
  }
}

/* #endregion */

@media print {
  .no-print, .no-print * {
    display: none !important;
    visibility: hidden !important;
  }
}

/* #region Mobile */

@media(max-width) {
  .container {
    min-height: calc(100vh - 150px);
  }
}

/* #endregion */


/* #region Styles for small display */
/* @media (max-width: 1085px) {
  .container {
    width: 100% !important;
    max-width: unset !important;
    max-width: unset !important;
  }

  .logo-wrapper {
    padding: 15px 10px !important;
  }

  .link-files {
    width: calc(100% / 3) !important;
  }
} */

@media (max-width: 767px) {
  .logo img {
    max-height: 2.77778em;
  }

  .nav-wrapper {
    height: 60px !important;
  }

  .nav-wrapper ul {
    margin-top: 0 !important;
  }

  .nav-btn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    transform: scale(0.9);
    margin-left: 0 !important;
  }

  .nav-btn>span {
    display: none !important;
  }

  .logout-btn svg {
    margin-right: -10px;
  }

  .link-files {
    width: calc(100% / 2) !important;
  }
}

@media (max-width: 600px) {
  .nav-wrapper {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }

  div.contact-info {
    width: 100%;
    min-width: unset;
    max-width: 385px;
  }

  .btn-select-list {
    flex: 1;
    text-align: left;
  }
}

@media (min-width: 485px) {
  .button-action>svg {
    display: none;
  }
}

@media (max-width: 485px) {
  .display-name {
    display: none;
    visibility: hidden;
  }

  .menu-wrapper {
    bottom: -210px;
  }

  .visible-menu-wrapper {
    bottom: -190px;
  }

  .result-div ul>li,
  .search-result-select {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .menu-wrapper>.display-name {
    display: block !important;
    visibility: visible !important;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
  }

  .button-action {
    width: auto !important;
    min-width: unset !important;
  }

  .button-action>span {
    display: none !important;
  }

  .link-files {
    width: 100% !important;
  }

  .typography-email-span {
    font-size: 3vw;
    letter-spacing: 0;
  }
}

@media (max-width: 415px) {

  .container,
  .nav-wrapper>div {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }

  .displayname,
  .switch-btn,
  .mobile-hidden {
    display: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
  }

  .search-wrapper {
    margin-top: 7px !important;
  }

  .help-btn {
    float: left !important;
  }

  .checkbox-block-mobile {
    padding-top: 10px !important;
    border-top: 1px solid #c4c4c4 !important;
    width: 100vw !important;
    margin-top: 10px !important;
  }

  .confirm-block {
    width: 90% !important;
    font-size: 4vw;
  }

  .search-wrapper {
    display: block;
  }

  .search-first-input,
  .search-second-input {
    width: 100% !important;
    display: block;
  }

  .search-first-input {
    margin-bottom: 10px;
  }

  .btn-select-list {
    min-width: 100px !important;
    word-wrap: break-word;
  }

  .interior-div>li>div>p {
    font-size: 3.2vw !important;
  }

  .last-options>label {
    width: auto !important;
    display: block !important;
  }

  .inputs-wrapper {
    display: block !important;
  }

  .inputs-wrapper .dropdown-open {
    padding-top: 5px !important;
  }

  #mui-3-helper-text,
  #mui-5-helper-text {
    display: none !important;
  }

  .pr-inputs {
    margin: 0 !important;
  }

  .inputs-wrapper>div {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
  }

  .collapse-wrapper {
    padding: 10px 5px !important;
  }

  .typography-span {
    margin-left: 0;
    padding: 3px 5px;
    display: block;
    width: max-content;
  }
}

@media (max-width: 385px) {
  .search-button-mobile {
    display: block;
    position: unset !important;
    display: inline-flex;
    width: 60px;
    margin-top: 15px !important;
    margin-bottom: 15px;
    margin-left: 15px !important;
    float: right;
  }

  .last-options>label {
    font-size: 3.5vw !important;
  }

  .modal-wrapper>.MuiDialog-container>div,
  .modal-wrapper>.MuiDialog-container>div>h2,
  .modal-wrapper>.MuiDialog-container>div>div {
    padding: 15px 8px !important;
  }

  .buttons-wrapper>button {
    font-size: 3vw !important;
  }
}

/* #endregion */

/* body {
  margin: 0;
  padding: 0;
  width: -webkit-fill-available !important;
  width: -moz-available !important;
  min-height: 100vh;
  background-color: "#FFF";
}

.block-centered {
  width: 98%;
  max-width: 400px;
  text-align: center;
  padding: 20px 1px;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 70px auto;
}

.loading {
  margin-bottom: 20px;
}

div.container {
  max-width: 1400px !important;
  padding-left: 24px !important;
  padding-right: 24px !important;
}

.container:not(.l-centered):not(.logo-wrapper) {
  padding-bottom: 50px;
}

.d-row,
.d-column,
.d-row {
  -webkit-display: flex;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.d-column {
  flex-direction: column;
}

.d-row {
  flex-direction: row;
}

.wrap {
  flex-wrap: wrap !important;
}

.r-wrap {
  flex-flow: row wrap !important;
  height: max-content !important;
}

.wrap-50>div {
  max-width: 50%;
  display: inline-flex !important;
}

.jc-start {
  justify-content: flex-start !important;
}

.jc-end {
  justify-content: flex-end !important;
}

.ai-start {
  align-items: flex-start !important;
}

.ai-end {
  align-items: flex-end !important;
}

.jc-between {
  justify-content: space-between !important;
}

.jc-around {
  justify-content: space-around !important;
}

.w100 {
  width: 100% !important;
}

.w-mc {
  width: max-content !important;
}

.w-100,
p.w-100,
div.w-100,
button.w-100,
span.w-100 {
  width: -webkit-fill-available !important;
  width: -moz-available !important;
}

.wh-100 {
  width: -webkit-fill-available !important;
  width: -moz-available !important;
  height: -webkit-fill-available !important;
  height: -moz-available !important;
  overflow-y: auto;
}

.progress {
  margin-left: 10px;
  width: 200px;
}

.disabled input {
  background-color: #f5f5f5e4;
}

.disabled input:hover {
  cursor: no-drop !important;
} */