.d-row,
.d-column,
.d-column-jb .container {
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-column {
    flex-direction: column;
}

.d-row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap !important;
}

.row-wrap {
    flex-flow: row wrap !important;
    height: max-content !important;
}

.wrap-50>div {
    max-width: 50%;
    display: inline-flex;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.w100 {
    width: 100% !important;
}

.wh100 {
    width: 100% !important;
    height: 100% !important;
}

.w-100 {
    width: -webkit-fill-available !important;
    width: -moz-available !important
}


/* Editor */
.editor-container {
    max-width: 1100px;
}

.editor-label {
    font-weight: 400;
    font-size: 12px !important;
    margin-bottom: 3px;
    text-transform: uppercase;
    letter-spacing: 1px !important;
}

.editor-box {
    border: 1px solid #b8b8b880;
    background-color: #FFFFFF;
    padding: 0 !important;
    height: auto;
}

.editor-tools-panel,
.editor-tools-panel>div {
    background-color: #FFFFFF !important;
    box-shadow: none !important;
    height: max-content;
}

.editor-tools-panel>div.view-wrapper {
    background-color: #b8b8b820 !important;
}

.editor-tools-panel>div {
    display: flex;
    flex-wrap: wrap !important;
    width: 100%;
    justify-content: flex-start !important;
}

.editor-tools-panel button {
    border-radius: 0 !important;
}

.editor-wrapper {
    position: relative;
}

.editor-wrapper ul>li {
    all: revert !important;
    /* all: unset !important; */
    display: list-item !important;
}

.editor-dropdown {
    position: absolute !important;
    top: 50px !important;
    height: 160px;
    overflow: auto;
    width: 100%;
    background-color: #FFFFFF;
    border: 1px solid var(--color-gray);
    z-index: 3000;
    padding: 3px 0;
}

.editor-textarea {
    padding: 12px;
    margin: 0 !important;
    min-height: 150px;
    max-height: 400px;
    border-radius: 0;
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
}

.editor-textarea,
.editor-textarea>*,
.editor-textarea * {
    user-select: text;
    caret-color: auto;
}

.editor-textarea>div fieldset {
    border: 0 !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.button-wrapper>button {
    margin: 5px 7px;
}

/* Image wrapper*/
.zoomable-img-wrap {
    max-width: 300px !important;
    border-radius: 8px;
    cursor: zoom-in;
    transition: transform 0.45s ease;
    display: block;
    border: 1px solid var(--color-gray);
}

/* Gray fullscreen background */
.zoomable-img-wrap:active::before {
    content: "" !important;
    position: fixed !important;
    inset: 0 !important;
    background-color: rgba(0, 0, 0, 0.6) !important;
    z-index: 3000 !important;
}

.zoomable-img-wrap:active img {
    position: fixed !important;
    top: 50%;
    left: 50%;
    z-index: 3000 !important;
    transform: translate(-50%, -50%) !important;
    max-width: 96vw !important;
    height: 96vh !important;
    z-index: 5000 !important;
    cursor: zoom-out;
}