.header-container {
  height: 210px !important;
  background-color: #FFFFFF;
  color: #000000;
  position: sticky;
  top: 0;
  z-index: 3000 !important;
}

.header-wrapper {
  height: 100% !important;
  max-width: 1400px !important;
  margin: auto;
}

.header-nav {
  background-color: #009e3d;
}

.display-name {
  margin-right: 20px !important;
}

/*  #region Logotype */
.logotype {
  height: max-content;
  width: max-content;
}

.logo-wrapper {
  width: 65px;
  overflow: hidden;
  margin: auto 20px auto 0;
}

.logo {
  height: 70px;
}

.logotype>div.d-column {
  align-items: flex-start;
}

.logotype>div>p {
  margin: 0;
  font-size: 25px;
}

.logotype-subtitle {
  text-align: right;
  font-size: 14px !important;
  font-style: italic;
  text-transform: uppercase;
  color: #3a5342;
  margin-bottom: 15px;
  width: 100%;
}
/* #endregion */

/* #region Home link */
.home-link {
  padding: 9px;
  border: 2px solid #ffffffd8 !important;
  transition: all 0.5s ease-in-out !important;
  margin-right: 20px !important;
}

.home-link>svg {
  font-size: 30px;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.home-link:not(.selected):hover {
  transform: scale(1.3);
}

.home-link.selected {
  box-shadow: 0 0 3px 3px #FFFFFF;
}

.home-link.selected>svg {
  color: #FFFFFF;
}

.home-link.selected:hover {
  border-color: #FFFFFF !important;
}
/* #endregion */

/* #region Nav */
.nav-wrapper {
  width: 100%;
  position: relative;
  height: 65px;
  color: #fff;
}

.nav-wrapper>div {
  width: 100%;
  height: 100% !important;
  max-width: 1400px;
  padding-left: 24px !important;
  padding-right: 24px !important;
  justify-content: space-between !important;
  margin: auto;
}

.nav-wrapper>div>div {
  width: max-content;
}

.nav-btn {
  color: #fff !important;
  border-color: #fff !important;
  margin-left: 15px !important;
}

.nav-btn:hover,
.nav-btn-active {
  box-shadow: 0 0 1px 1px #FFFFFF;
}

.nav-btn:last-child svg {
  font-size: 24px !important;
}
/* #endregion */

/* #region Dropdow menu */
.menu-container {
  position: relative;
}

.menu-container svg {
  font-size: 28px;
}

.menu-wrapper {
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 120px;
  right: 0;
  width: 240px;
  overflow: hidden;
  padding: 10px 12px;
  transition: all 0.6s ease-in-out;
  background-color: #009e3d;
  border-radius: 2px;
  box-shadow: 0 0 1px 1px #acacac;
  height: auto;
}

.menu-wrapper>li {
  height: 30px;
  font-size: 16px !important;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 3px;;
}

.menu-wrapper>li:hover {
  cursor: pointer;
  background-color: rgba(232, 232, 232, 0.7) !important;
  color: #000000;
}

.menu-wrapper>li svg {
  font-size: 20px !important;
  margin-right: 20px;
}

.visible-menu-wrapper {
  visibility: visible;
  opacity: 1;
  top: 40px;
  z-index: 3000;
  display: block;
}
/* #endregion */