.header-container {
  height: var(--header-height);
  background-color: #FFFFFF;
  color: #000000;
  padding: 0 !important;
  position: sticky;
  top: 0;
  z-index: 3000 !important;
}

.header-wrapper {
  height: calc(var(--header-height) - 70px);
}

.header-wrapper,
.menu-wrapper {
  max-width: var(--max-width) !important;
  margin: auto;
}

/*  #region Logotype */
.logotype {
  height: max-content;
  width: max-content;
}

.logo-wrapper {
  width: 65px;
  overflow: hidden;
  margin: auto 20px auto 0;
}

.logo {
  height: 70px;
}

.logotype>div.d-column {
  align-items: flex-start;
}

.logotype>div>p {
  margin: 0;
  font-size: 25px;
}

.logotype-subtitle {
  text-align: right;
  font-size: 14px !important;
  font-style: italic;
  text-transform: uppercase;
  color: #3a5342;
  margin-bottom: 15px;
  width: 100%;
}

/* #endregion */

/* #region Menu */
.menu-container {
  background-color: var(--color-primary);
  height: 70px;
  position: relative;
}

.menu-wrapper {
  padding: 0 15px;
  height: 100%;
  position: relative;
  color: #FFFFFF !important;
}

.menu-link {
  padding: 4px 6px;
  border: 2px solid transparent;
  transition: all 0.5s ease-in-out !important;
  border-radius: 50%;
}

.menu-link span {
  display: none;
}

.menu-link:not(.selected):hover span,
.selected span {
  display: block;
  position: absolute;
  top: 0;
  color: #FFFFFF;
  padding: 24px 15px;
  font-size: 18px !important;
  white-space: nowrap;
  text-transform: uppercase;
  background-color: var(--color-primary);
  text-align: right;
}

.menu-link:not(.selected):hover span {
  z-index: 1000;
}

.menu-link:not(.menu-link:first-of-type) {
  margin-left: 25px !important;
}

.menu-link>svg {
  font-size: 30px;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.menu-link:not(.selected):hover svg {
  transform: scale(1.2);
}

.menu-link.selected {
  box-shadow: 0 0 3px 3px #FFFFFF;
}

.menu-link.selected>svg {
  color: #FFFFFF;
}

.menu-link.selected:hover {
  border-color: #FFFFFF !important;
}

/* #endregion */

/* #region Home link  */
.home-link {
  padding: 9px;
  border: 2px solid #ffffffd8 !important;
  transition: all 0.5s ease-in-out !important;
  margin-right: 20px !important;
}

.home-link>svg {
  font-size: 30px;
  color: #FFFFFF;
  transition: all 0.5s ease-in-out;
}

.home-link:not(.selected):hover {
  transform: scale(1.3);
}

.home-link.selected {
  box-shadow: 0 0 3px 3px #FFFFFF;
}

.home-link.selected>svg {
  color: #FFFFFF;
}

.home-link.selected:hover {
  border-color: #FFFFFF !important;
}

/* #endregion  */


/* #region Nav */
.nav-btn {
  color: #fff !important;
  border-color: #fff !important;
  margin-left: 15px !important;
}

.nav-btn:hover,
.nav-btn-active {
  box-shadow: 0 0 1px 1px #FFFFFF;
}

.nav-btn:last-child svg {
  font-size: 24px !important;
}

.nav-wrapper {
  display: block !important;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
  position: absolute;
  top: 120px;
  right: 14px;
  width: 240px;
  overflow: hidden;
  padding: 10px 12px;
  transition: all 0.6s ease-in-out;
  background-color: var(--color-primary);
  border-radius: 2px;
  box-shadow: 0 0 1px 1px #acacac;
  height: auto;
}

.nav-wrapper>a {
  height: 30px;
  font-size: 16px !important;
  transition: all 0.3s ease-in-out;
  padding: 10px;
  border-radius: 3px;
  color: #FFFFFF !important;
}

.nav-wrapper>a:hover,
.nav-wrapper>a.active {
  cursor: pointer;
  background-color: rgba(232, 232, 232, 0.7) !important;
  color: #000000 !important;
}

.nav-wrapper>a svg {
  font-size: 20px !important;
  margin-right: 20px;
}

.nav-wrapper.visible {
  visibility: visible;
  opacity: 1;
  top: 75px;
  z-index: 3000;
  display: block;
}
/* #endregion */

@media(max-width: 1920px) {
  .header-container {
    height: 200px;
  }

  .menu-container,
  .menu-wrapper {
    height: 65px;
  }

  .menu-link {
    padding: 3px 5px;
    border-radius: 50%;
  }

  .menu-link>svg {
    font-size: 25px;
  }
}