.search-form {
    height: 70px;
    margin-top: 20px;
    margin-bottom: 5px;
}

/* .search-form-logs {
    margin: 20px 0 !important;
}

.search-form-logs,
.search-full-width {
    width: 100%;
} */

.search-form .autocomplete-field {
    width: 450px;
    margin-right: 10px;
}

.search-form .search-inp>div {
    padding: 0 5px !important
}

.search-wrapper {
    margin-right: 10px !important;
}

.search-reset {
    color: var(--color-danger);
    font-size: 40px;
    z-index: 1000;
    margin-right: 10px !important;
}

.search-button {
    font-size: 40px;
    z-index: 1000;
    margin: auto 5px;
}

.search-button:disabled {
    border-color: var(--color-disabled);
    color: var(--color-disabled);
    background-color: transparent;
}