/* Provide sufficient contrast against white background */
:root {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --color-primary: #009e3d !important;
    --color-secondary: #bdbdbdb9 !important;
    --color-primary-dark: #0f6b32 !important;
    --color-primary-light: #0f6b32af !important;
    --color-gray: #cecece !important;
    --color-dark-gray: #424242 !important;
    --color-light-gray: #e7e7e76e !important;
    --color-hover: #e1dede !important;
    --color-warning: #ec5200 !important;
    --color-danger: #a50029 !important;
    --color-hover: #05441d64 !important;
    --color-success: #1db822 !important;
    --color-info: #729bee !important;
    --color-active: #1976D2 !important;
    --color-disabled: #c4c4c4 !important;
    --color-link: #828181 !important;
    --color-link-hover: #000000 !important;
    --color-light-link: #dce5f6 !important;
    --color-danger-shadow: #a5002998 !important;

    --color-bg: #0000001a !important;
    --color-list-bg: #c7d0d33f !important;

    --border: 1px solid transparent;
    --border-color: 1px solid var(--color-primary) !important;
    --border-secondary: 1px solid var(--color-secondary) !important;

    --header-height: 220px !important;
    --min-height: calc(100vh - var(--header-height)) !important;
    --max-width: 1700px !important;

    --font-primary: Calibri !important;
    --clip-path: polygon(0% 0, 88% 0, 100% 50%, 89% 100%, 0% 100%);

    --box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3), 0px 1px 1px 0px rgba(0, 0, 0, 0.24), 0px 1px 3px 0px rgba(0, 0, 0, 0.22);
}

body {
    margin: 0;
    padding: 0;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    min-width: 320px;
    min-height: 100vh;
    position: relative;
    overflow: visible;
}

div#root {
    min-height: 100vh;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    display: flex;
    flex-direction: column;
}

body,
div,
p,
span,
a,
button,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
    font-family: var(--font-primary) !important;
    user-select: none;
    caret-color: transparent;
}

textarea,
input {
    user-select: text;
    caret-color: auto;
}

a {
    text-decoration: none;
    color: var(--color-link);
}

a:hover {
    color: var(--color-link-hover);
}

main,
.container,
.wrapper {
    margin: 0 auto;
    width: 100% !important;
    max-width: var(--max-width) !important;
    padding: 0 !important;
    overflow-x: hidden;
    overflow-y: visible;
    padding: 0 15px !important;
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    flex: 1;
    align-self: stretch;
}

/* main,
.container {
    min-height: calc(var(--min-height) - 80px) !important;
} */

/* #region Flex */
.d-row,
.d-column,
.d-column-jb .container {
    justify-content: center;
    align-items: center;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex !important;
}

.d-column {
    flex-direction: column;
}

.d-row {
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap !important;
}

.row-wrap {
    flex-flow: row wrap !important;
    height: max-content !important;
}

.wrap-50>div {
    max-width: 50%;
    display: inline-flex;
}

.jc-start {
    justify-content: flex-start;
}

.jc-end {
    justify-content: flex-end;
}

.ai-start {
    align-items: flex-start;
}

.ai-end {
    align-items: flex-end;
}

.ai-stretch {
    align-items: stretch;
}

.jc-between {
    justify-content: space-between;
}

.jc-around {
    justify-content: space-around;
}

.flex03 {
    flex: 1 1 calc(100% / 3) !important;
}

.flex04 {
    flex: 1 1 calc(100% / 4) !important;
}

/* #endregion */

/* #region Tooltip */
.tooltip-default,
.tooltip-info,
.tooltip-white,
.tooltip-green,
.tooltip-red {
    padding: 15px !important;
    font-size: 14px !important;
    text-align: center !important;
    cursor: alias !important;
    z-index: 5000 !important;
    color: #FFFFFF !important;
    letter-spacing: 1px !important;
    font-family: var(--font-primary);
}

.tooltip-info {
    background-color: #1976D2 !important;
}

.tooltip-info.margin {
    margin-top: 30px !important;
}

.tooltip-white {
    background-color: #FFFFFF !important;
    font-size: 12px !important;
    padding: 15px 20px !important;
    max-width: 200px !important;
}

.tooltip-white {
    border: 1px solid #a8a8a8 !important;
    color: #202020 !important;
}


.tooltip-white,
.tooltip-multiline {
    text-transform: uppercase !important;
    text-align: left !important;
}

.tooltip-green {
    background-color: var(--color-primary) !important;
}

.tooltip-red {
    background-color: #cc0000 !important;
    text-transform: uppercase !important;
    font-size: 12px !important;
}

.tooltip-multiline {
    font-size: 12px !important;
    padding: 10px 20px !important;
    line-height: 20px !important;
}

.tooltip-arrow-red {
    color: #cc0000 !important;
}

.tooltip-arrow-info {
    color: #1976D2 !important;
}

.tooltip-arrow-green {
    color: var(--color-primary) !important;
    font-size: 20px !important;
    left: 5px !important;
}

.tooltip-arrow-white {
    color: #FFFFFF !important;
}

.tooltip-span {
    display: block;
    width: max-content;
    margin-left: 10px;
    font-size: 9px;
    color: #079481
}

/* #endregion */

.none {
    display: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
}

.background {
    position: fixed;
    background-color: var(--color-bg);
    z-index: 0;
}

.background,
.curtain,
.curtain-gray,
.curtain-response,
.curtain-transparent {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
}

.curtain,
.curtain-gray,
.curtain-response,
.curtain-transparent {
    position: absolute;
    z-index: 2900;
}

.curtain {
    background-color: rgba(255, 255, 255, 0.582);
}

.curtain-gray {
    background-color: rgba(216, 216, 216, 0.25);
}

.curtain-response {
    background-color: rgba(255, 255, 255, 0.35);
}

.curtain-transparent {
    background-color: transparent !important;
}

.disabled input {
    background-color: #f5f5f5e4;
}

.disabled input:hover {
    cursor: no-drop !important;
}

::-webkit-scrollbar {
    width: 5px !important;
    height: 8px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(90, 90, 90, 0.2);
}

::-webkit-scrollbar-track {
    background-color: rgba(228, 226, 226, 0.137);
}

*.bg-white {
    background-color: #FFFFFF !important;
}

.modal-wrapper {
    width: 100%;
    height: 100%;
}

.row-wrapper {
    width: max-content;
}

.row-wrapper>* {
    margin-left: 5px;
    padding: 0 !important;
}

.w100 {
    width: 100% !important;
}

.wh100 {
    width: 100% !important;
    height: 100% !important;
}

.w-100 {
    width: -webkit-fill-available !important;
    width: -moz-available !important
}

.wh-100 {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
    height: -webkit-fill-available !important;
    height: -moz-available !important;
    height: fill-available !important;
    overflow-y: auto;
}

.p-rel {
    position: relative !important;
}

.no-margin {
    margin: 0 !important;
}

.back-scale,
.scale-blocks ul,
.scale-bck-horizontal,
.scale-hide,
.scale-blocks .form-buttons {
    opacity: 0.5;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out;
    pointer-events: none !important;
}

.scale-bck-horizontal {
    -webkit-transform: scaleX(0.8) translateY(-20px);
    -moz-transform: scaleX(0.8) translateY(-20px);
    -ms-transform: scaleX(0.8) translateY(-20px);
    -o-transform: scaleX(0.8) translateY(-20px);
    transform: scaleX(0.8) translateY(-20px);
}

.back-scale,
.scale-blocks ul,
.scale-blocks .form-buttons {
    -webkit-transform: scale(0.85);
    -moz-transform: scale(0.85);
    -ms-transform: scale(0.85);
    -o-transform: scale(0.85);
    transform: scale(0.8);
}

.scale-hide {
    opacity: 0;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    height: 0 !important;
    margin: 0 !important;
}

.bg-inherit {
    background: inherit !important;
}

.disabled .disabled>svg,
.Mui-disabled,
.Mui-disabled>svg {
    opacity: 0.5 !important;
    pointer-events: none !important;
    color: #000000 !important;
}

/* #region Animation */

.delay {
    animation-iteration-count: 0 !important;
}

.blink-color,
.warning-color,
.blink-li-color {
    background-color: transparent;
    animation-iteration-count: 1;
    animation-duration: 3s;
}

.blink-color {
    animation-name: greenColor;
}

.warning-color {
    animation-name: warningColor;
}

.blink-li-color {
    animation-name: greenGrayColor;
}


/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */

@keyframes greenColor {
    0% {
        background-color: #32db67a8
    }

    100% {
        background-color: transparent
    }
}

@keyframes greenGrayColor {
    0% {
        background-color: #32db67a8
    }

    100% {
        background-color: var(--color-light-gray)
    }
}

@keyframes warningColor {
    0% {
        background-color: #eb0a1552
    }

    100% {
        background-color: transparent
    }
}

.fade-in-slow {
    animation-name: opacity-slow;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    /* animation-delay: 3s; */
}

@keyframes opacity-slow {
    0% {
        opacity: 0
    }

    10% {
        opacity: 0.1
    }

    20% {
        opacity: 0.2
    }

    30% {
        opacity: 0.3
    }

    40% {
        opacity: 0.4
    }

    50% {
        opacity: 0.5
    }

    60% {
        opacity: 0.6
    }

    70% {
        opacity: 0.7
    }

    80% {
        opacity: 0.8
    }

    90% {
        opacity: 0.9
    }

    100% {
        opacity: 1
    }
}

.fade-in {
    animation-name: opacity;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    /* animation-delay: 3s; */
}

@keyframes opacity {
    0% {
        opacity: 0.5
    }

    20% {
        opacity: 0.6
    }

    40% {
        opacity: 0.7
    }

    60% {
        opacity: 0.8
    }

    80% {
        opacity: 0.9
    }

    100% {
        opacity: 1
    }
}

.visible-delay {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    pointer-events: none;
    animation: delayVisible 1s ease forwards;
    animation-delay: 3s;
}

@keyframes delayVisible {
    100% {
        visibility: visible;
        opacity: 1;
        z-index: 1;
        pointer-events: unset;
    }
}

/* #endregion */

/* #region Device settings */
@media(min-width: 3000px) {
    :root {
        --max-width: 1700px !important;
    }
}

@media(max-width: 1920px) {
    :root {
        --max-width: 1300px !important;
        --header-height: 200px !important;
    }
}

/* #endregion */