.interior-div.view-list {
    overflow-y: hidden;
    position: relative;
}

.view-list-container>div {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.view-list-container>div:last-child {
    margin-left: 15px !important;
}

.view-list-result {
    width: 100%;
    font-size: 16px;
    text-transform: uppercase;
    padding: 10px 0 !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 20px;
}

.view-list-result button {
    margin-right: -15px !important;
}

.list-container,
.view-modal-list {
    width: 100% !important;
    margin: -20px auto 20px auto !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
}

.list-container {
    margin-top: 20px !important;
}

div.list-item,
li.list-item {
    min-height: 70px !important;
    box-shadow: 0 0 1px 1px #7e7c7c !important;
    width: calc(50% - 12px);
    margin: 4px 3px !important;
}

div.last,
li.last {
    margin: 4px 9px !important;
}

div.list-item:hover,
li.list-item:hover {
    cursor: pointer !important;
}

div.list-item:not(.dropdown):hover,
li.list-item:hover  {
    cursor: pointer !important;
    background-color: #6363632a !important;
}

div.dropdown li,
div.dropdown li div,
div.dropdown li p,
div.dropdown li span,
div.dropdown li button {
    color: #2e2e2ee8 !important;
}

div.dropdown>li {
    border-top: 3px solid #4d4c4c;
}

.dropdown-block,
.dropdown-block div,
.dropdown-block p,
.dropdown-block span {
    font-size: 12px !important
}

.dropdown-block ul>li {
    background-color: #c7d1cf38 !important;
    margin-bottom: 3px !important;
}

.pagination {
    margin: 50px auto 0 auto;
    position: absolute;
    bottom: 5px;
    right: 0;
    padding: 20px;
    background-color: #FFFFFF;
    border: 1px solid #7e7c7c9f;
}

.pagination>nav {
    margin: auto !important;
}

.view-modal-label {
    padding: 10px;
    background-color: rgb(2, 172, 30);
    color: #FFFFFF;
    margin-bottom: 20px !important;
    font-family: monospace;
}

.view-modal-label span {
    font-size: 14px !important;
    margin-top: -5px !important;
    display: block;
}

.view-modal-list-wrapper {   
    margin: 30px 0 !important;
    height: 400px;
    overflow: auto;
}

.view-modal-list {
    justify-content: flex-start !important;
    margin: 0 !important;
}

li.modal-list-item {
    box-shadow: 0 0 1px 1px #7e7c7c91 !important;
    border-radius: 3px !important;
    max-width: calc(50% - 8px);
    margin: 4px !important;
}

.view-list-form {
    margin: 30px 0;
    justify-content: space-between;
}

.list-view-modal-buttons {
    border-top: 2px solid #b3b3b3;
    margin: 30px 0 10px 0 !important;
    height: 100px;
}

.view-list-form>* {
    margin-right: 10px !important;
}

.choices-list {
    position: absolute !important;
    top: 0;
    left: 0;
    background-color: #FFFFFF !important;
    z-index: 3000;
    padding: 20px !important
}

.choices-subheader {
    font-size: 16px !important;
}

.choices-item {
    padding: 7px 5px !important;
    cursor: pointer;
}

.choices-item:hover {
    background-color: #bbbbbb6e;
}

.choices-item>span {
    font-size: 14px !important;
    text-indent: 30px !important;
}

.form-button {
    min-width: 120px !important;
    margin-left: 10px !important;
    margin-right: 0 !important;
    height: 50px !important;
    max-width: unset !important;
}