.login-wrapper {
    max-width: 700px !important;
    height: 500px;
    max-height: 70vh;
    padding: 25px;
    margin: auto;
    box-shadow: 0 0 2px 2px #d8d4d4;
    border-radius: 5px;
    color: #000000;
    position: relative;
    background-image: url("./../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    overflow: hidden;
    position: relative;
}

.login-form {
    width: 350px !important;
    height: 320px !important;
    margin-bottom: 0;
    padding: 15px 30px;
}

.login-form h2 {
    width: 100%;
}

.login-input {
    width: 100% !important;
    margin-bottom: 15px !important;
}

.login-wrapper div:last-of-type>p:first-of-type {
    font-size: 26px !important;
}

.login-wrapper div>p.logotype-subtitle {
    color: #FFFFFF !important;
    font-size: 18px !important;
}

.login-wrapper .response-box {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}

/* #region Mobile */
@media(max-width: 600px) {
    .login-wrapper {
        margin: auto 10px !important;
        max-width: unset !important;
        height: 300px;
        min-height: unset !important;
        padding: 15px 10px 0 10px;
    }

    .login-form {
        padding: 5px 0 !important;
    }
}

@media(max-width: 450px) {
    .login-form label>* {
        font-size: 12px !important;
    }
}

/* #endregion */