/* #region Login */
.login-wrapper {
    max-width: 700px !important;
    height: 500px;
    max-height: 70vh;
    padding: 25px;
    margin: auto;
    box-shadow: 0 0 2px 2px #d8d4d4;
    border-radius: 5px;
    color: #000000;
    position: relative;
    background-image: url("./../images/background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 200%;
    overflow: hidden;
    position: relative;
}

.login-form {
    width: 350px !important;
    height: 320px !important;
    margin-bottom: 0;
    padding: 15px 30px;
}

.login-form h2 {
    width: 100%;
}

.login-input {
    width: 100% !important;
    margin-bottom: 15px !important;
}

.login-contacts-link {
    position: absolute !important;
    bottom: 20px;
    right: 20px;
}

.login-contacts-link svg {
    font-size: 30px !important;

}

.login-contacts-link:hover {
    color: #FFFFFF;
}

.login-wrapper div:last-of-type>p:first-of-type {
    font-size: 26px !important;
}

.login-wrapper div>p.logotype-subtitle {
    color: #FFFFFF !important;
    font-size: 18px !important;
}

.login-wrapper .response-box {
    position: absolute;
    bottom: -10px;
    left: 0;
    right: 0;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
}
/* #endregion */

/* #region Contacts */
.contacts-container {
    min-height: unset !important;
    padding: 20px 0;
    max-width: 1000px;
}

.contacts-logo {
    flex: 1 1 100% !important;
    height: max-content !important;
    color: #000000 !important;
    padding: 0 10px;
    margin-bottom: 30px !important;
    background-color: #FFFFFF !important;
    z-index: 3000;
    margin-top: 0 !important;
}

.contacts-button {
    flex: 1 1 100% !important;
    height: max-content !important;
    margin: 20px auto 0 auto;
}

.contacts-button>button {
    height: 45px;
    width: 120px;
    margin-right: 20px;
}
/* #endregion */