.select-label {
  width: max-content;
  padding: 0 5px !important;
  background-color: #fff;
}

.radio-label,
.radio-label-small {
  color: rgb(49, 47, 47) !important;
  width: max-content;
  margin: 5px 15px 5px 0 !important;
  display: block;
}

.radio-label-small {
  font-size: 12px !important;
  color: #525252 !important;
  margin-top: 20px !important;
}

.unlock-span {
  margin-right: 20px;
  color: var(--color-danger);
  font-size: 16px;
  text-transform: uppercase;
}

.generate-password {
  float: right;
  background: none !important;
  margin-bottom: 20px !important;
}

.generate-password:hover {
  opacity: 0.6 !important;
}