
/* #region Messages */
.message-box {
    flex: 0 !important;
    color: #000000 !important;
    height: max-content !important;
    font-family: var(--font-primary) !important;
    margin: 10px auto 25px auto;
    padding: 5px 20px !important;
}

.collapse .message-box {
    margin: 15px 0  0 0 !important
}

.message-box>div>* {
    margin: 0;
    font-weight: 600;
}

.message-box .MuiAlert-message {
    width: -webkit-fill-available !important;
    width: -moz-available !important;
}

.res-message {
    width: auto;
    margin: 0 10px !important;
    font-size: 16px;
    letter-spacing: 1px;
    text-align: left !important;
}

.res-message>span {
    font-weight: normal;
    color: var(--color-gray);
    font-style: italic;
}

.message-box .error-message {
    margin: 0 auto;
    font-size: 16px;
    font-style: italic;
    color: #FFFFFF;
    width: auto !important;
    display: block;
    padding: 12px;
    max-width: 100%;
    margin-top: 15px;
    border-radius: 3px;
    background-color: rgba(204, 0, 00, 0.2);
}

.form-wrapper div[role="presentation"] {
    box-shadow: 0 0 1px 1px #dfd7d7;
    background-color: #FFFFFF !important;
}

.form-wrapper div[role="presentation"]>div>ul {
    overflow-y: auto;
    padding: 10px 5px 20px 10px !important;
    max-height: 170px !important;
}

.login-container .message-box,
.form-modal div[role="dialog"] .message-box {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5000;
}

.login-container .message-box>*,
.form-modal div[role="dialog"] .message-box>* {
    border-radius: 0 !important;
}

.login-container .message-box,
.form-modal div[role="dialog"] .message-box>* {
    margin-bottom: 0 !important;
}

.form-buttons>div.message-box {
    position: unset !important;
    margin-bottom: 20px !important;
}

/* #endregion */

/* #region Wrapper */
.message-wrapper {
    margin-top: 20px !important;
    padding: 0 !important;
    width: 100% !important;
}

.message-wrapper .message-box {
    margin: 0 !important;
}
/* #endregion */
