/* #region Mobile */

@media(max-width) {
  .container {
    min-height: calc(100vh - 150px);
  }
}

/* #endregion */

/* #region Styles for small display */
@media (max-width: 1085px) {
  .container {
    width: 100% !important;
    max-width: unset !important;
    max-width: unset !important;
  }

  .logo-wrapper {
    padding: 15px 10px !important;
  }

  .link-files {
    width: calc(100% / 3) !important;
  }
}

@media (max-width: 767px) {
  .logo img {
    max-height: 2.77778em;
  }

  .nav-wrapper {
    height: 60px !important;
  }

  .nav-wrapper ul {
    margin-top: 0 !important;
  }

  .nav-btn {
    padding-left: 0 !important;
    padding-right: 0 !important;
    transform: scale(0.9);
    margin-left: 0 !important;
  }

  .nav-btn>span {
    display: none !important;
  }

  .logout-btn svg {
    margin-right: -10px;
  }

  .link-files {
    width: calc(100% / 2) !important;
  }
}

@media (max-width: 600px) {
  .nav-wrapper {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }

  div.contact-info {
    width: 100%;
    min-width: unset;
    max-width: 385px;
  }

  .btn-select-list {
    flex: 1;
    text-align: left;
  }

  .header-container {
    height: 150px !important;
  }

  .header-wrapper {
    width: 100% !important;
    max-width: unset !important;
  }

  .logo {
    height: 70px !important;
    margin: auto 10px auto 0;
  }

  .logotype>div>p {
    font-size: 15px;
  }

  .logotype-subtitle {
    font-size: 10px !important;
    margin-bottom: 5px;
  }

  .header-nav {
    height: 60px;
  }

  .menu-wrapper {
    padding: 0 5px
  }
}

@media (min-width: 485px) {
  .button-action>svg {
    display: none;
  }
}

@media (max-width: 485px) {
  .menu-wrapper {
    bottom: -210px;
  }

  .visible-menu-wrapper {
    bottom: -190px;
  }

  .result-div ul>li,
  .search-result-select {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }

  .button-action {
    width: auto !important;
    min-width: unset !important;
  }

  .button-action>span {
    display: none !important;
  }

  .link-files {
    width: 100% !important;
  }

  .typography-email-span {
    font-size: 3vw;
    letter-spacing: 0;
  }
}

@media (max-width: 415px) {

  .container,
  .nav-wrapper>div {
    padding-right: 8px !important;
    padding-left: 8px !important;
  }

  .displayname,
  .switch-btn,
  .mobile-hidden {
    display: none !important;
    visibility: hidden !important;
    z-index: -1 !important;
  }

  .search-wrapper {
    margin-top: 7px !important;
  }

  .help-btn {
    float: left !important;
  }

  .checkbox-block-mobile {
    padding-top: 10px !important;
    border-top: 1px solid #c4c4c4 !important;
    width: 100vw !important;
    margin-top: 10px !important;
  }

  .confirm-block {
    width: 90% !important;
    font-size: 4vw;
  }

  .search-wrapper {
    display: block;
  }

  .search-first-input,
  .search-second-input {
    width: 100% !important;
    display: block;
  }

  .search-first-input {
    margin-bottom: 10px;
  }

  .btn-select-list {
    min-width: 100px !important;
    word-wrap: break-word;
  }

  .interior-div>li>div>p {
    font-size: 3.2vw !important;
  }

  .last-options>label {
    width: auto !important;
    display: block !important;
  }

  .inputs-wrapper {
    display: block !important;
  }

  .inputs-wrapper .dropdown-open {
    padding-top: 5px !important;
  }

  #mui-3-helper-text,
  #mui-5-helper-text {
    display: none !important;
  }

  .pr-inputs {
    margin: 0 !important;
  }

  .inputs-wrapper>div {
    margin-top: 5px !important;
    margin-bottom: 15px !important;
  }

  .collapse-wrapper {
    padding: 10px 5px !important;
  }

  .typography-span {
    margin-left: 0;
    padding: 3px 5px;
    display: block;
    width: max-content;
  }
}

@media (max-width: 385px) {
  .search-button-mobile {
    display: block;
    position: unset !important;
    display: inline-flex;
    width: 60px;
    margin-top: 15px !important;
    margin-bottom: 15px;
    margin-left: 15px !important;
    float: right;
  }

  .last-options>label {
    font-size: 3.5vw !important;
  }

  .modal-wrapper>.MuiDialog-container>div,
  .modal-wrapper>.MuiDialog-container>div>h2,
  .modal-wrapper>.MuiDialog-container>div>div {
    padding: 15px 8px !important;
  }

  .buttons-wrapper>button {
    font-size: 3vw !important;
  }
}

/* #endregion */