
div[role="dialog"] {
  z-index: 3000;
  transition: all 0.7s ease-in-out;
}

.modal-view div[role="dialog"] {
  width: 95%;
  max-width: 600px;
  padding: 20px 15px
}

button.modal-help-btn {
  margin-right: 0 !important;
}

.label button.modal-help-btn {
  margin-bottom: 20px !important;
}

.modal-help-btn svg{
    font-size: 25px !important;
}

.modal-view ul>li>div>span {
  font-weight: 600;
}