
div[role="dialog"] {
  z-index: 3000;
  transition: all 0.7s ease-in-out;
}

.modal-view div[role="dialog"] {
  width: 95%;
  max-width: 600px;
  padding: 20px 15px
}

.modal-help-btn svg{
    font-size: 20px;
}

.modal-view ul>li>div>span {
  font-weight: 600;
}