.notfound-wrapper {
    width: 100%;
    max-width: 700px;
    height: 500px;
    max-height: 50vh;
    padding: 25px 35px;
    box-shadow: inset 0 0 3px 3px #34613d;
    background-image: url('../images/notfound.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    margin: auto;
    align-self: center;
}

.notfound-title {
    font-size: 30px;
    color: #303030;
    text-transform: uppercase;
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    text-align: center
}

.notfound-buttons {
    margin: 0 auto;
    position: absolute;
    bottom: 20px;
    right: 0;
}

.notfound-btn {
    font-size: 18px !important;
    letter-spacing: 1px !important;
    padding: 6px 15px !important;
    background-color: #ffffff83 !important;
    width: 150px !important;
    margin-right: 20px !important;
    color: #000000 !important;
    border: 1px solid var(--color-gray) !important;
}

.notfound-btn:hover {
    background-color: var(--color-primary) !important;
    border: var(--border-color) !important;
    color: #FFFFFF !important;
}