.sm-wrapper {
    min-width: 320px;
    height: calc(var(--min-height) - 150px);
    box-shadow: 0 0 1px 1px var(--color-gray);
    align-self: flex-start;
    margin: 10px 0 10px 10px;
    overflow-y: auto;
}

.sm-label {
    text-transform: uppercase;
    background-color: var(--color-primary);
    padding: 20px 15px;
    margin-top: 0;
    color: #FFFFFF;
    letter-spacing: 0.3px;
}

.sm-label > svg {
    margin-right: 20px;
}

button.sm-btn {
    font-size: 14px !important;
    justify-content: flex-start;
    margin-bottom: 14px;
    height: 50px !important;
    border: 1px solid transparent;
    width: 90% !important;
    clip-path: polygon(0% 0, 88% 0, 100% 50%, 89% 100%, 0% 100%);
    background-color:  var(--color-light-gray) !important; 
    color: #000000 !important;
}

.sm-btn-label {
    width: calc(100% - 70px);
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

button.sm-btn.active {
    transform: scale(1.05, 1.1);
    z-index: 3000;
    letter-spacing: 1px;
    color: #FFFFFF !important;
    margin-left: 16px;
    background-color:  var(--color-primary) !important; 
}

button.sm-btn:hover {
    color: #FFFFFF !important;
    background-color:  var(--color-primary) !important; 
}

button.sm-btn svg {
    font-size: 20px !important;
    margin-right: 5px !important;
    margin-left: 5px !important;
}