/* .view-header,
.view-body {
    padding: 5px;
} */

.view-header {
    margin-bottom: 10px;
    margin-top: 20px;
    ;
}

.view-header p {
    font-size: 22px;
    font-weight: normal !important;
    border-bottom: 2px solid var(--color-primary) !important;
    height: 50px;
    margin: 2px 5px
}

.view-body ul {
    padding: 0 15px;
    margin: 5px;
    flex: 1;
}

.view-body ul > div {
    margin-bottom: 15px;
}

.view-body ul>li {
    height: 50px !important;
    text-transform: uppercase;
    border: var(--border-secondary);
    border-radius: 3px;
    font-size: 16px !important;
    list-style: none;
    min-height: unset !important;
}

.li-empty {
    font-style: italic;
    color: var(--color-danger) !important;
    border: none !important;
    text-transform: none !important;
}