.view-header {
    margin-bottom: 10px;
    margin-top: 20px;
}

.view-header p {
    font-size: 22px;
    font-weight: normal !important;
    border-bottom: 4px solid var(--color-primary) !important;
    height: 50px;
    margin: 2px 10px
}

.view-header .p-disabled {
    border-color: var(--color-secondary) !important;
    color: var(--color-secondary);
}

.view-body.w-100 {
    padding: 0 15px;
    flex: 1;
    margin: 5px 10px;
}

.view-body>div:first-of-type {
    margin-bottom: 15px;
}

.view-list-wrapper {
    margin: 0 !important;
    max-height: calc(100vh - 610px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 5px !important;
}

/* .view-list-wrapper::after {
    background: linear-gradient(to top,
            rgba(255, 255, 255, 0.9),
            rgba(0, 0, 0, 0)) !important;
} */


.view-list-wrapper>li {
    height: 50px !important;
    text-transform: uppercase;
    border: var(--border-secondary);
    border-radius: 3px;
    font-size: 16px !important;
    list-style: none;
    min-height: unset !important;
    margin: 5px 0 !important;
}

.view-list-wrapper>.li-disabled {
    font-style: italic;
    background-color: var(--color-light-gray) !important;
    text-transform: none !important;
    margin-top: 0 !important;
}

.view-list-wrapper>.li-disabled svg {
    margin-right: 20px;
}


/*  #region Action buttons */
.action-wrapper {
    padding: 12px 10px;
    background-color: #FFFFFF;
    border: 1px solid var(--color-secondary);
}

.action-wrapper button,
.action-wrapper a {
    margin: 0 8px;
    height: 40px;
}

.action-wrapper >div.message-box {
    margin: -8px auto !important;
    width: calc(100% - 20px) !important;
    flex: 1 !important;
}
/* #endregion */